C 0 0 "NO" 0 0 0 0 60 0 L
X "PIN_TEXT" "NO" 230 -30 0 0.00 60 0 0 0 0 0 1 0 74
L 200 0 0 0 -1 0
C 0 -100 "COM" 0 -100 0 0 60 0 L
X "PIN_TEXT" "COM" 230 -130 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -100 0 -100 -1 0
C 0 -200 "NC" 0 -200 0 0 60 0 L
X "PIN_TEXT" "NC" 230 -230 0 0.00 60 0 0 0 0 0 1 0 74
L 200 -200 0 -200 -1 0
C 1000 0 "MH1" 1000 0 0 0 60 0 R
X "PIN_TEXT" "MH1" 770 -30 0 0.00 60 0 0 2 0 0 1 0 74
L 800 0 1000 0 -1 0
C 1000 -100 "MH2" 1000 -100 0 0 60 0 R
X "PIN_TEXT" "MH2" 770 -130 0 0.00 60 0 0 2 0 0 1 0 74
L 800 -100 1000 -100 -1 0
L 200 100 800 100 -1 0
L 800 -300 800 100 -1 0
L 800 -300 200 -300 -1 0
L 200 100 200 -300 -1 0
P "$LOCATION" "?" 850 270 0 0 60 0 0 0 0 0 1 0 32
P "PACK_TYPE" "?" 0 -50 0 0 100 0 0 1 0 0 0 0 32

